.stretch:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.stretch{display:inline-block}
.stretch{display:block}
* html .stretch{height:1px}


#gf {
	float:left;
	width:100%;
	margin: 1em auto;
	position:relative;
	font-size:13px;
	font-family: $sans;
	img {width:100%}

	.grfxhead {font-family: 'Chronicle Deck 6r', Georgia, serif;width:100%; margin-bottom:.3em; font-size:26px; font-weight: 600; float:left; line-height:28px;}
	.grfxintro {font-family: $sans; width:100%; margin-bottom:.7em; font-size:15px; letter-spacing:0.003em; line-height:1.428; float:left;}
	.grfxcontainer {width:100%; float:left; position:relative; margin:0.5em 0;}

	.source { color:#999; font-family:$sans; text-transform: uppercase; font-size:11px; width:100%; float:left; margin-top:0.75em; margin-bottom:2.5em;}

	@media only screen and (max-width: 645px) {
		
	}
}





