<style>
.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px; }
  #gf img {
    width: 100%; }
  #gf .grfxhead {
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: .3em;
    font-size: 18px;
    font-weight: 600;
    float: left; }
  #gf .grfxintro {
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left; }
  #gf .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf .source {
    color: #CCC;
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }
  @media only screen and (max-width: 600px) {
    #gf {
      width: 95%;
      margin-left: 2.5%; } }


</style>
<!-- NO COMMENT IF CINEMATIC -->
<!-- <div class="cinematic-element fullsize-element ">
<div class="aspect-ratio-wrapper sixteennine"> -->

<!-- NO COMMENT IF MEDIUM -->
<!-- <div class="fullsize-element"> -->
	<!-- <div class="media_medium--container container"> -->

		<div id="gf">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				Content of stuff
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

<!-- NO COMMENT IF MEDIUM OR CINEMATIC-->
<!-- </div></div> -->



<script>
function useLabel(t,e){var a=e;1==isFirefox?($(".country").mouseover(function(e){thissvg=e.target;for(var s in t)this.id==t[s].iso3+"_"+a&&(thestate=t[s].country,thevalue=t[s].Value,$("#"+this.id).css("cursor","pointer").css("opacity",1).css("filter","alpha(opacity=100)"));pos=$("#wm_"+a).offset(),thex=e.pageX-pos.left,they=e.pageY-pos.top,thex>$("#wm_"+a).width()-200&&(thex=$("#wm_"+a).width()-200),they>$("#wm_"+a).height()-100&&(they=$("#wm_"+a).height()-175),$("#label").remove(),$("#wm_"+a).append('<div id="label" style="top:'+they+"px; left:"+thex+'px;"><div class="statename">'+thestate+'</div><div class="value">'+thevalue+"</div></div>")}),$(".country").mouseout(function(){$("#label").remove(),$("#"+this.id).css("cursor","pointer").css("opacity",.8).css("filter","alpha(opacity=80)")})):($(".country").mouseover(function(e){thissvg=$(event.target).parent();for(var s in t)this.id==t[s].iso3+"_"+a&&(thestate=t[s].country,thevalue=t[s].Value),$("#"+this.id).css("cursor","pointer").css("opacity",1).css("filter","alpha(opacity=100)");pos=$("#wm_"+a).offset(),thex=e.pageX-pos.left,they=e.pageY-pos.top,thex>$("#wm_"+a).width()-200&&(thex=$("#wm_"+a).width()-200),they>$("#wm_"+a).height()-100&&(they=$("#wm_"+a).height()-175),$("#label").remove(),$("#wm_"+a).append('<div id="label" style="top:'+they+"px; left:"+thex+'px;"><div class="statename">'+thestate+'</div><div class="value">'+thevalue+"</div></div>")}),$(".country").mouseout(function(){$("#label").remove(),$("#"+this.id).css("cursor","pointer").css("opacity",.8).css("filter","alpha(opacity=80)")}))}function setSize(t){var e=$("#wm_"+t).width();$("#svg_"+t).height(.503*e)}var prefix="",suffix="",steps=5,decimals=0,color1="#aab49c",color2="#f3cf6a",color3="#f3a06a",color4="#d47972",color5="#aa4d3d",thissvg,thestate,thevalue,pos,thex,they,netValue,isFirefox="undefined"!=typeof InstallTrigger;$(function(){setSize("001"),$(window).resize(function(){setSize("001")});for(var t in data_001)1==data_001[t].Value?$("#"+data_001[t].iso3+"_001").css("fill",color1).css("opacity",.8).css("filter","alpha(opacity=80)"):2==data_001[t].Value?$("#"+data_001[t].iso3+"_001").css("fill",color2).css("opacity",.8).css("filter","alpha(opacity=80)"):3==data_001[t].Value?$("#"+data_001[t].iso3+"_001").css("fill",color3).css("opacity",.8).css("filter","alpha(opacity=80)"):4==data_001[t].Value?$("#"+data_001[t].iso3+"_001").css("fill",color4).css("opacity",.8).css("filter","alpha(opacity=80)"):5==data_001[t].Value?$("#"+data_001[t].iso3+"_001").css("fill",color5).css("opacity",.8).css("filter","alpha(opacity=80)"):$("#"+data_001[t].iso3+"_001").css("fill","#DDD").css("opacity",.8).css("filter","alpha(opacity=80)");navigator.userAgent.match(/Android/i)||navigator.userAgent.match(/webOS/i)||navigator.userAgent.match(/iPhone/i)||navigator.userAgent.match(/iPad/i)||navigator.userAgent.match(/iPod/i)||navigator.userAgent.match(/BlackBerry/i)||navigator.userAgent.match(/Windows Phone/i)||useLabel(data_001,"001")});
var data_001=[{country:"Andorra",iso3:"AND",Value:5},{country:"United Arab Emirates",iso3:"ARE",Value:2},{country:"Afghanistan",iso3:"AFG",Value:5},{country:"Antigua and Barbuda",iso3:"ATG",Value:5},{country:"Albania",iso3:"ALB",Value:5},{country:"Armenia",iso3:"ARM",Value:5},{country:"Angola",iso3:"AGO",Value:5},{country:"Argentina",iso3:"ARG",Value:3},{country:"Austria",iso3:"AUT",Value:5},{country:"Australia",iso3:"AUS",Value:1},{country:"Azerbaijan",iso3:"AZE",Value:5},{country:"Bosnia and Herzegovina",iso3:"BIH",Value:5},{country:"Barbados",iso3:"BRB",Value:1},{country:"Bangladesh",iso3:"BGD",Value:5},{country:"Belgium",iso3:"BEL",Value:5},{country:"Burkina Faso",iso3:"BFA",Value:5},{country:"Bulgaria",iso3:"BGR",Value:5},{country:"Bahrain",iso3:"BHR",Value:5},{country:"Burundi",iso3:"BDI",Value:5},{country:"Benin",iso3:"BEN",Value:5},{country:"Brunei",iso3:"BRN",Value:1},{country:"Bolivia",iso3:"BOL",Value:5},{country:"Brazil",iso3:"BRA",Value:5},{country:"Bahamas",iso3:"BHS",Value:1},{country:"Bhutan",iso3:"BTN",Value:5},{country:"Botswana",iso3:"BWA",Value:5},{country:"Belarus",iso3:"BLR",Value:2},{country:"Belize",iso3:"BLZ",Value:5},{country:"Canada",iso3:"CAN",Value:5},{country:"Dem. Rep. of the Congo",iso3:"COD",Value:5},{country:"Central African Republic",iso3:"CAF",Value:5},{country:"Congo",iso3:"COG",Value:5},{country:"Switzerland",iso3:"CHE",Value:5},{country:"Cote d'Ivoire",iso3:"CIV",Value:5},{country:"Cook Islands (New Zealand)",iso3:"COK",Value:5},{country:"Chile",iso3:"CHL",Value:5},{country:"Cameroon",iso3:"CMR",Value:5},{country:"China",iso3:"CHN",Value:5},{country:"Colombia",iso3:"COL",Value:5},{country:"Costa Rica",iso3:"CRI",Value:2},{country:"Cuba",iso3:"CUB",Value:5},{country:"Cabo Verde",iso3:"CPV",Value:5},{country:"Cyprus",iso3:"CYP",Value:5},{country:"Czech Republic",iso3:"CZE",Value:5},{country:"Germany",iso3:"DEU",Value:5},{country:"Djibouti",iso3:"DJI",Value:5},{country:"Denmark",iso3:"DNK",Value:1},{country:"Dominica",iso3:"DMA",Value:5},{country:"Dominican Republic",iso3:"DOM",Value:5},{country:"Algeria",iso3:"DZA",Value:5},{country:"Ecuador",iso3:"ECU",Value:5},{country:"Estonia",iso3:"EST",Value:5},{country:"Egypt",iso3:"EGY",Value:5},{country:"Eritrea",iso3:"ERI",Value:5},{country:"Spain",iso3:"ESP",Value:5},{country:"Ethiopia",iso3:"ETH",Value:4},{country:"Finland",iso3:"FIN",Value:5},{country:"Fiji",iso3:"FJI",Value:5},{country:"Micronesia",iso3:"FSM",Value:5},{country:"France",iso3:"FRA",Value:5},{country:"Gabon",iso3:"GAB",Value:5},{country:"United Kingdom",iso3:"GBR",Value:5},{country:"Grenada",iso3:"GRD",Value:5},{country:"Georgia",iso3:"GEO",Value:5},{country:"Ghana",iso3:"GHA",Value:5},{country:"Greenland (Denmark)",iso3:"GRL",Value:1},{country:"Gambia",iso3:"GMB",Value:4},{country:"Guinea",iso3:"GIN",Value:5},{country:"Equatorial Guinea",iso3:"GNQ",Value:5},{country:"Greece",iso3:"GRC",Value:5},{country:"Guatemala",iso3:"GTM",Value:5},{country:"Guinea-Bissau",iso3:"GNB",Value:5},{country:"Guyana",iso3:"GUY",Value:5},{country:"Honduras",iso3:"HND",Value:5},{country:"Croatia",iso3:"HRV",Value:5},{country:"Haiti",iso3:"HTI",Value:3},{country:"Hungary",iso3:"HUN",Value:5},{country:"Indonesia",iso3:"IDN",Value:2},{country:"Ireland",iso3:"IRL",Value:2},{country:"Israel",iso3:"ISR",Value:3},{country:"India",iso3:"IND",Value:5},{country:"Iraq",iso3:"IRQ",Value:5},{country:"Iran",iso3:"IRN",Value:5},{country:"Iceland",iso3:"ISL",Value:5},{country:"Italy",iso3:"ITA",Value:5},{country:"Jamaica",iso3:"JAM",Value:5},{country:"Jordan",iso3:"JOR",Value:2},{country:"Japan",iso3:"JPN",Value:5},{country:"Kenya",iso3:"KEN",Value:4},{country:"Kyrgyzstan",iso3:"KGZ",Value:5},{country:"Cambodia",iso3:"KHM",Value:5},{country:"Kiribati",iso3:"KIR",Value:1},{country:"Comoros",iso3:"COM",Value:5},{country:"St. Kitts and Nevis",iso3:"KNA",Value:5},{country:"North Korea",iso3:"PRK",Value:5},{country:"South Korea",iso3:"KOR",Value:5},{country:"Kuwait",iso3:"KWT",Value:5},{country:"Kazakhstan",iso3:"KAZ",Value:5},{country:"Laos",iso3:"LAO",Value:5},{country:"Lebanon",iso3:"LBN",Value:2},{country:"St. Lucia",iso3:"LCA",Value:5},{country:"Liechtenstein",iso3:"LIE",Value:5},{country:"Sri Lanka",iso3:"LKA",Value:5},{country:"Liberia",iso3:"LBR",Value:5},{country:"Lesotho",iso3:"LSO",Value:4},{country:"Lithuania",iso3:"LTU",Value:5},{country:"Luxembourg",iso3:"LUX",Value:5},{country:"Latvia",iso3:"LVA",Value:2},{country:"Libya",iso3:"LBY",Value:2},{country:"Morocco",iso3:"MAR",Value:5},{country:"Monaco",iso3:"MCO",Value:2},{country:"Moldova",iso3:"MDA",Value:5},{country:"Montenegro",iso3:"MNE",Value:5},{country:"Madagascar",iso3:"MDG",Value:5},{country:"Marshall Islands",iso3:"MHL",Value:4},{country:"Macedonia",iso3:"MKD",Value:5},{country:"Mali",iso3:"MLI",Value:5},{country:"Myanmar (Burma)",iso3:"MMR",Value:5},{country:"Mongolia",iso3:"MNG",Value:5},{country:"Mauritania",iso3:"MRT",Value:5},{country:"Malta",iso3:"MLT",Value:5},{country:"Mauritius",iso3:"MUS",Value:5},{country:"Maldives",iso3:"MDV",Value:5},{country:"Malawi",iso3:"MWI",Value:5},{country:"Mexico",iso3:"MEX",Value:5},{country:"Malaysia",iso3:"MYS",Value:4},{country:"Mozambique",iso3:"MOZ",Value:5},{country:"Namibia",iso3:"NAM",Value:5},{country:"Niger",iso3:"NER",Value:5},{country:"Nigeria",iso3:"NGA",Value:5},{country:"Nicaragua",iso3:"NIC",Value:5},{country:"Netherlands",iso3:"NLD",Value:5},{country:"Norway",iso3:"NOR",Value:2},{country:"Nepal",iso3:"NPL",Value:5},{country:"Nauru",iso3:"NRU",Value:1},{country:"Niue (New Zealand)",iso3:"NIU",Value:1},{country:"New Zealand",iso3:"NZL",Value:5},{country:"Oman",iso3:"OMN",Value:5},{country:"Panama",iso3:"PAN",Value:5},{country:"Peru",iso3:"PER",Value:5},{country:"Papua New Guinea",iso3:"PNG",Value:5},{country:"Philippines",iso3:"PHL",Value:5},{country:"Pakistan",iso3:"PAK",Value:5},{country:"Poland",iso3:"POL",Value:5},{country:"Portugal",iso3:"PRT",Value:5},{country:"Palau",iso3:"PLW",Value:5},{country:"Paraguay",iso3:"PRY",Value:5},{country:"Qatar",iso3:"QAT",Value:5},{country:"Romania",iso3:"ROU",Value:5},{country:"Serbia",iso3:"SRB",Value:5},{country:"Russia",iso3:"RUS",Value:5},{country:"Rwanda",iso3:"RWA",Value:5},{country:"Saudi Arabia",iso3:"SAU",Value:1},{country:"Solomon Islands",iso3:"SLB",Value:5},{country:"Seychelles",iso3:"SYC",Value:2},{country:"Sudan",iso3:"SDN",Value:5},{country:"Sweden",iso3:"SWE",Value:5},{country:"Singapore",iso3:"SGP",Value:2},{country:"Slovenia",iso3:"SVN",Value:5},{country:"Slovakia",iso3:"SVK",Value:5},{country:"Sierra Leone",iso3:"SLE",Value:4},{country:"San Marino",iso3:"SMR",Value:5},{country:"Senegal",iso3:"SEN",Value:5},{country:"Somalia",iso3:"SOM",Value:5},{country:"Suriname",iso3:"SUR",Value:5},{country:"South Sudan",iso3:"SSD",Value:5},{country:"Sao Tome and Principe",iso3:"STP",Value:5},{country:"El Salvador",iso3:"SLV",Value:2},{country:"Syria",iso3:"SYR",Value:5},{country:"Swaziland",iso3:"SWZ",Value:4},{country:"Chad",iso3:"TCD",Value:5},{country:"Togo",iso3:"TGO",Value:5},{country:"Thailand",iso3:"THA",Value:5},{country:"Tajikistan",iso3:"TJK",Value:5},{country:"Timor-Leste",iso3:"TLS",Value:5},{country:"Turkmenistan",iso3:"TKM",Value:2},{country:"Tunisia",iso3:"TUN",Value:5},{country:"Tonga",iso3:"TON",Value:2},{country:"Turkey",iso3:"TUR",Value:5},{country:"Trinidad and Tobago",iso3:"TTO",Value:5},{country:"Tuvalu",iso3:"TUV",Value:4},{country:"Tanzania",iso3:"TZA",Value:5},{country:"Ukraine",iso3:"UKR",Value:5},{country:"Uganda",iso3:"UGA",Value:5},{country:"United States",iso3:"USA",Value:2},{country:"Uruguay",iso3:"URY",Value:2},{country:"Uzbekistan",iso3:"UZB",Value:5},{country:"Vatican City",iso3:"VAT",Value:1},{country:"St. Vincent and the Grenadines",iso3:"VCT",Value:5},{country:"Venezuela",iso3:"VEN",Value:5},{country:"Vietnam",iso3:"VNM",Value:5},{country:"Vanuatu",iso3:"VUT",Value:5},{country:"Samoa",iso3:"WSM",Value:4},{country:"Kosovo",iso3:"KSV",Value:5},{country:"Yemen",iso3:"YEM",Value:2},{country:"South Africa",iso3:"ZAF",Value:5},{country:"Zambia",iso3:"ZMB",Value:4},{country:"Zimbabwe",iso3:"ZWE",Value:5},{country:"Western Sahara (Morocco)",iso3:"WSA",Value:1}];
</script>