<div class="width-text graphic stretch">
<!-- <div class="width-wide graphic stretch"> -->
<!-- <div class="width-wider graphic stretch"> -->
<!-- <div class="width-full graphic stretch"> -->
<!-- <div class="width-cinematic graphic stretch"> -->

		<div id="gf">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				Your stuff
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

</div>
